registry=https://showlabs-morpheus-frontend-304876165419.d.codeartifact.us-west-2.amazonaws.com/npm/morpheus-frontend/
//showlabs-morpheus-frontend-304876165419.d.codeartifact.us-west-2.amazonaws.com/npm/morpheus-frontend/:always-auth=true
//showlabs-morpheus-frontend-304876165419.d.codeartifact.us-west-2.amazonaws.com/npm/morpheus-frontend/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
